.background {
  background: linear-gradient(
    90deg,
    rgb(248, 106, 129) 0%,
    rgb(255, 255, 255) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  text-align: center;
}
